.contactContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.titleBox {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}

.titleBox h1 {
    font-weight: 600;
    font-size: 160%;
}
  
.paraSpan {
    color: rgb(160, 63, 251);
}
  
.contactBar {
    height: 1px;
    flex-grow: 1;
    background-color: rgb(79, 38, 213, .5);
}

.description {
    width: 65%;
    text-align: center;
    font-size: 120%;
    color: rgb(255, 255, 255, .55);
}

.linkBox {
    /* border: 1px solid red; */
    width: 43%;
    display: flex;
    justify-content: space-between ;
    margin-left: -36px;
}

.linkBox a {
    border: 2px solid rgb(160, 63, 251, .7);
    border-radius: 2px;
    padding: .6rem 1.3rem;
    color: rgb(255, 255, 255, .7);
    font-weight: 600;
    font-size: 90%;
    transition: all .1s linear;
}

.linkBox a:hover {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(160, 63, 251);
}

@media (max-width: 1140px) {
    .linkBox {
        width: 50%;
    }
}

@media (max-width: 1140px) {
    .linkBox {
        width: 55%;
    }

    .description {
        width: 80%;
        font-size: 110%;
    }
}

@media (max-width: 862px) {
    .linkBox {
        width: 75%;
    }

    .description {
        width: 85%;
        font-size: 105%;
    }
}

@media (max-width: 615px) {
    .linkBox {
        width: 95%;
    }
}

@media (max-width: 475px) {
    .linkBox {
        width: 100%;
        font-size: 70%;
        margin-left: 0px;
    }

    .description {
        width: 95%;
        font-size: 85%;
        margin-top: -.7rem;
    }

    .titleBox h1 {
        font-size: 140%;
    }
    
    .titleBox {
          gap: .8rem;
    }
}

@media (min-width: 1920px) {
    .linkBox {
        width: 27%;
    }
}