.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    width: 100%;
    padding: 1.4rem 2rem;
    background: transparent;
    transition: all .1s linear;
}

.linkActive {
    background-color: rgb(20, 18, 28, .8);
    backdrop-filter: blur(10px);
}

.linkContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
}

.linkContainer div {
    display: flex;
    gap: .3rem;
    align-items: center;
}

.navLinks {
    color: rgb(255, 255, 255, .6);
    transition: all .1s linear;
    cursor: pointer;
}

.navLinks:hover {
    color: rgb(255, 255, 255);
}

.navLinks:hover span {
    color: rgb(181, 117, 242);
}

.linkContainer div a {
    display: flex;
    align-items: center;
}

.purpText {
    color: rgb(160, 63, 251);
}

.svg {
    height: 30px;
    width: 30px;
    transition: all .1s linear;
    color: rgb(255, 255, 255, .7);
}

.svg:hover {
    color: rgb(181, 117, 242);
}

@media (max-width: 650px) {
    .linkContainer {
        gap: 1rem;
    }
}

@media (max-width: 550px) {
    .navContainer p {
        display: none;
    }

    .linkContainer {
        gap: 2rem;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .navContainer {
        padding: 1.4rem 1rem;
    }

    .linkContainer {
        gap: .7rem;
        width: 100%;
        justify-content: center;
    }

    .navLinks {
        font-size: 90%;
    }

    .svg {
        height: 25px;
        width: 25px;
    }
}